@import "~bootstrap/scss/functions";

$primary: #368ab6;
$secondary: #d1d3d4;
$dark: #2a2a2a;

$font-family-base: "Open Sans", sans-serif;
$font-family-heading: Lato, sans-serif;
$card-border-color: $dark;


// Toastify Variables
$rt-namespace: 'Toastify';
$rt-toast-background: #fff !default;
$rt-toast-min-height: 64px !default;
$rt-toast-max-height: 800px !default;

$rt-color-default: #fff !default;
$rt-color-dark: #121212 !default;
$rt-color-info: #3498db !default;
$rt-color-success: #078d0c !default;
$rt-color-warning: #f1c40f !default;
$rt-color-error: #e74c3c !default;

$rt-text-color-default: #aaa !default;
$rt-text-color-dark: #fff !default;

$rt-color-progress-default: linear-gradient(to right, #078d0c, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55) !default;
$rt-color-progress-dark: #bb86fc !default;
$rt-mobile: "only screen and (max-width : 480px)" !default;
$rt-font-family: sans-serif !default;
$rt-z-index: 9999 !default;



@import "~bootstrap/scss/variables";

$heading-font-sizes: (
  "h1": (
    "md": $h2-font-size,
    "sm": $h3-font-size,
  ),
  "h2": (
    "sm": $h3-font-size,
    "xs": $h4-font-size,
  ),
  "h3": (
    "xs": $h4-font-size,
  ),
);
